/* Make main content area wider for PaperMod */
.main {
    max-width: 1000px;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
} 

body.dark .service-icon {
    filter: brightness(0) invert(1) sepia(1) hue-rotate(180deg) saturate(2);
} 